<html lang="en">
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="container">
            <div class="col-sm-12">
                <h2>User</h2>
                <p>
                    Username: {{user.username}}<br>
                    User Id: {{user.id}}<br>
                    Active: {{user.active}}<br>
                </p>

                <h2>Resources</h2>
                <table class="table">
                    <th>Name</th><th>Created</th><th>Active</th><th>Version Id</th>
                    {% for resource in resources %}
                        <tr>
                            <td><a href="/admin/resources/{{resource.id}}">{{resource.name}}</a></td>
                            <td>{{resource.created}}</td>
                            <td>{{resource.active}}</td>
                            <td>{{resource.version_id}}</td>
                        </tr>
                    {% endfor %}
                </table>


            </div>
        </div>
    </body>
</html>